<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div>

        <div>
            <div class="container-fluid blue">
                <div class="container">


                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand textwhite mrtp10" href="#">Logo</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <div class="col-md-8 mrtp10 mrbt5">
                                <input class="form-control" type="text" placeholder="Type any word here...">
                            </div>
                            <div class="col-md-2 fr mrtp18">
                                <a href="javascript:void(0)"> <i class="fa fa-plus"></i> </a>
                                <a href="javascript:void(0)"> <i class="fa fa-bell" aria-hidden="true"></i> </a>
                                <a href="javascript:void(0)"> <i class="fa fa-user-o" aria-hidden="true"></i> </a>
                            </div>
                                <!--<ul class="nav navbar-nav">

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Text</a></li>
                                            <li><a href="#">Text</a></li>
                                            <li><a href="#">Text</a></li>
                                            <li><a href="#">Text</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Vote </a></li>
                                    <li><a href="#">Store</a></li>
                                </ul>-->

                                <ul class="nav navbar-nav navbar-right mrtp10">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cart <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Text</a></li>
                                            <li><a href="#">Text</a></li>
                                            <li><a href="#">Text</a></li>
                                            <li><a href="#">Text</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>


                </div>
            </div>
            <!--<div class="container-fluid blue">
                <div class="container">
                    <div class="col-md-9">
                        <input class="form-control" type="text" placeholder="Type any word here...">
                    </div>
                    <div class="col-md-3 fr">
                        <a href="javascript:void(0)"> <i class="fa fa-plus"></i> </a>
                        <a href="javascript:void(0)"> <i class="fa fa-bell" aria-hidden="true"></i> </a>
                        <a href="javascript:void(0)"> <i class="fa fa-user-o" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>-->
        </div>
        <div id="center">
            <br>
            <div class="container">
                <div class="clearfix">
                    <div class="col-md-8 ">
                        <div class="col-md-12 mug">
                            <div>
                                <div class="col-md-4"><b class="jan19">JAN 19</b></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-6 fr fr1">
                                    <a href="javascript:void(0)"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"> <i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                </div>

                            </div>
                            <h1 class="iconstyle paratxt"> Mothe</h1>
                            <p class="paratxt"> The response for when someone is telling huge porkies.</p>
                            <p class="paratxt"><i>Tony: I always clean up after myself.</i></p>
                            <p class="paratxt"><i>Sharon:.</i></p>
                            <p class="paratxt"><b> by </b><span class="iconstyle"><b>Aceeeeeeeee</b></span> <b>January 18,2017</b>
                            </p>
                            <div>
                                <div class="col-md-10">
                                    <div class="col-md-2 ten">
                                        <a href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i> 528</a>
                                    </div>
                                    <div class="col-md-2 ten1">
                                        <a href="javascript:void(0)"> <i class="fa fa-thumbs-down" aria-hidden="true"></i> 348</a>
                                    </div>

                                </div>
                                <div class="col-md-2 padboth">
                                    <a href="javascript:void(0)"> <img src="images/more_circle-32.png"></a>
                                </div>

                            </div>
                            <div>
                                <br>
                            </div>
                            <div>
                                <!--<div class="col-md-1"></div>-->
                                <div class="col-md-3"><img src="images/mug.jpg" class="img-responsive"> </div>
                                <!--<div class="col-mod-4">Buy the mug</div>-->
                                <!--<div class="col-md-1"></div>-->
                                <div class="col-md-9">
                                    <h5>  The Urban Dictionary Mug</h5>
                                    <p>Lotsa space for your liquids.</p>
                                    <button class="btn-buy">Buy the mug</button>
                                </div>
                                <!--<div class="col-md-4">Buy the Tshirt</div>-->
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">

                        <div class="col-md-12 mug">
                            <div class="col-md-12 alldiv paddingzero">
                                <div class="col-md-6 paddingzero paddingzero1 ">
                                    <mark>Urban</mark>
                                    <mark>Dictionary</mark>
                                    <mark>Is</mark>
                                    <mark>Written</mark>
                                    <mark>By You</mark>
                                </div>
                                <div class="col-md-6">
                                    <img src="images/mug.jpg" class="img-responsive">
                                </div>
                            </div>

                            <div class="col-md-12 alldiv paddingzero">
                                <p class="btn btn-block">+ &nbsp; Define a word</p>
                            </div>



                            <div class="col-md-12 padlr">
                                <div class="col-md-6 padlr bor">
                                    <a class="bn"> <i class="fa fa-twitter" aria-hidden="true">&nbsp;&nbsp;TWITTER</i></a>
                                </div>
                                <div class="col-md-6 padlr bor">
                                    <a class="bn"> <i class="fa fa-facebook" aria-hidden="true">&nbsp;FACEBOOK</i></a>
                                </div>
                            </div>


                            <div class="col-md-12 padlr">
                                <div class="col-md-6 padlr bor">
                                    <a class="bn"> <i class="fa fa-comment" aria-hidden="true">&nbsp;
                            HELP</i></a>
                                </div>
                                <div class="col-md-6 padlr bor">
                                    <a class="bn"><i class="fa fa-envelope" aria-hidden="true">
                            &nbsp;
                            SUBSCRIBE</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clearfix"><br></div>
                
                <div class="clearfix">
                    <div class="col-md-8 ">
                <button class="btn btn-block">Click here to decide what goes in Urban Dictionary</button>
                    </div>
                </div>
                
                <div class="clearfix"><br></div>
                 
                <div class="clearfix">
                    <div class="col-md-8 ">
                        <div class="col-md-12 mug">
                            <div>
                                <div class="col-md-4"><b class="jan19">JAN 19</b></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-6 fr fr1">
                                    <a href="javascript:void(0)"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"> <i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                </div>

                            </div>
                            <h1 class="iconstyle paratxt"> It</h1>
                            <p class="paratxt"> The response for when someone is telling huge .</p>
                            <p class="paratxt"><i>Tony: I always clean up after myself.</i></p>
                            <p class="paratxt"><i>Sharon: t.</i></p>
                            <p class="paratxt"><b> by </b><span class="iconstyle"><b>Aceeeeeeeee</b></span> <b>January 18,2017</b>
                            </p>
                            <div>
                                <div class="col-md-10">
                                    <div class="col-md-2 ten">
                                        <a href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i> 528</a>
                                    </div>
                                    <div class="col-md-2 ten1">
                                        <a href="javascript:void(0)"> <i class="fa fa-thumbs-down" aria-hidden="true"></i> 348</a>
                                    </div>

                                </div>
                                 <div class="col-md-2 padboth">
                                    <a href="javascript:void(0)"> <img src="images/more_circle-32.png"></a>
                                </div>

                            </div>
                            <div>
                                <br>
                            </div>
                            <div>
                                <!--<div class="col-md-1"></div>-->
                                <div class="col-md-3"><img src="images/mug.jpg" class="img-responsive"> </div>
                                <!--<div class="col-mod-4">Buy the mug</div>-->
                                <!--<div class="col-md-1"></div>-->
                                <div class="col-md-9">
                                    <h5>  The Urban Dictionary Mug</h5>
                                    <p>Lotsa space for your liquids.</p>
                                    <button class="btn-buy">Buy the mug</button>
                                </div>
                                <!--<div class="col-md-4">Buy the Tshirt</div>-->
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div>
                <br/>
            </div>

        </div>


    </div>

</body>

</html>
